<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>

        <!-- Custom SMTP Appender -->
        <Appender name="CustomSMTP" class="com.chrisbarbati.weatherserver.logging.SmtpAppender">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <!-- Root Logger for Console -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Root Logger for File -->
        <Logger name="FileLogger" level="error" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>